*
{
    box-sizing: border-box;
}
Body
{
   font-family: cursive; 
}

h1
{
    text-align: center;
    font-size: 175%;
}

div 
{
    border: 1px solid black;
}

.item
{
    float: left;
    padding: 15px;
    margin: 1%;;
    background-color:rgb(230, 200, 36);
}

.class1
{
    float: right;
    margin: -15px;
    padding: 10px;
    width: 33.33%;
    text-align: center;
    font-size: 125%;
}

#chicken
{
    background-color: sandybrown;
}

#beef
{
    background-color: tomato;
}

#sushi
{
    background-color: khaki;
}

p 
{
    margin-top: 40px;
}

/* For Large Devices */
@media (min-width: 922px) 
{
    .item 
    {
        width: 31.3%;
    }
}

/*For Medium Devices*/
@media (min-width: 768px) and (max-width: 921px) 
{
    #div1, #div2 
    {
        width: 48%;
    }
    #div3 
    {
        width: 98%;
    }
}
